<table id="fullproductTable">
    <thead>
        <tr>
	    <th>ID</th>
            <th>Name</th>
	    <th>Manufacturer</th>
	    <th>Category</th>
            <th>Available</th>
            <th>Storage</th>
            <th>Expires in</th>
            <th>Barcode</th>
        </tr>
    </thead>
    <tbody>
        <% fullproducts.forEach(product => { %>
            <% if (product.expiry_date) { %>
		<% product.expiry_date = product.earliest_expiry_date %> 
                <% const difference = (new Date(product.expiry_date) - new Date()) / (1000 * 60 * 60 * 24); %>
		<% const dateObj = new Date(product.earliest_expiry_date); %>
		<% const year = dateObj.getFullYear(); %>
		<% const month = ('0' + (dateObj.getMonth() + 1)).slice(-2); %>
		<% const day = ('0' + dateObj.getDate()).slice(-2); %>
		<% const formattedDate = `${year}/${month}/${day}`; %>
		<% product.expiry_date = formattedDate;%>
		<% product.expiry_date = product.expiry_type + ":" + product.expiry_date%>
                <% const urgent = 2; %>
                <% const soon = 7; %>
                
                
                <% if (difference <= 0) { %>
                    <tr style="background-color: black; color:white;">
                <% } else if (difference <= urgent) { %>
                    <tr style="background-color: red;">
                <% } else if (difference <= soon) { %>
                    <tr style="background-color: yellow;">
                <% } else { %>
                    <tr>
                <% } %>
            <% } else { %>
                <% product.expiry_date = "N/A" %>
                <tr>
                <% } %>
                <td><%= product.id %></td>
		<td><%= product.name %></td>
		<td><%= product.manufacturer %></td>
		<td><%= product.category %></td>
                <td><%= product.amount + "" + product.unit %></td>
                <td><%= product.storage_place %></td>
                <td style="font-weight:bold;"><%= product.expiry_date + "" %></td>
                <td><%= product.barcode %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

